.foodlist-categoery{margin-top: 5rem;position: relative;}

    .foodlist-categoery-options{ width:100%;display: flex;flex-wrap:wrap;align-content: flex-start;gap: 2rem;height: 32rem;overflow: hidden;}  
    .foodlist-categoery-item{     width: 23rem;
    height: 12rem;
    border-radius: 1rem;
    position: relative;
    margin-top: 1rem;
    margin-left: .9rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0,.2)}

   .foodlist-categoery-options-add-img{width: 2.5rem;height: 2.5rem;}

    .foodlist-categoery-options-add{

    height: 4rem;
    width: 5rem;border: none;
    border-radius: 2rem 0 1rem 0;
    padding-top: 1rem;
    background: rgba(255, 255, 255, 0.842);
    z-index: 5;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-left: 18rem;
    margin-top: 8rem;
    }


    .foodlist-categoery-item-img{width: 9rem;
    height: 9.3rem;
    border-radius: 1rem;
    margin-top: 1.4rem;
    margin-left: 12.5rem;}

   

.foodlist-categoery-item-info{ height: 9.3rem;margin-top: 1.4rem;width: 50%;position: absolute; }

.foodlist-categoery-item-info-name{height: 37%;width:100% ;
  text-align: start; font-size: 1rem ;font-weight: bold ;padding-left: 1rem;padding-top: 1rem;}

.foodlist-categoery-item-info-discription{height: 37%;width:100% }

.foodlist-categoery-item-info-discription p{ font-size: .7rem;padding-left: 1rem;margin-top: 1rem;}

.foodlist-categoery-item-info-price{height: 26%;width:100% ;
text-align: start; font-size: 1rem ;font-weight: bold ;padding-left: 1rem}