

body {
  font-family: Arial, sans-serif;
  color: #333;
}

a {
 
  color: #333;font-size: 15px;
}

ul {
  list-style: none;
}


.footer-main{
  padding: 2rem 0 2rem 0;
width: 100%;
height: 20.4rem;
background: #dfdcdc96;
color: #333;
}



.footer-container {
display: flex;flex-direction: row;
height: 12.5rem;background: #dfdcdc96;
  gap: 1rem;
}

.deal-section{width: 30%; height:100% ;}
.footer-logo-section{width: 35%;}
.links-section{width: 17.5%;}

.footer-logo-section h1 {
  font-size: 1.8rem;
}

.footerimg{height:65px;width:300px;padding-left: 3.5rem; }

.footer-logo-section .highlight {
  color: #ff9900;
}

.app-links{
  height: 40px;
 padding-left: 3.5rem;padding-top: 1rem;
}

.footer-logo-section p {
  margin-top: 3rem;
  font-size: 0.9rem; padding-left: 3.5rem;
  color: #666;
}

.deal-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.deal-email { 
  display: flex;width: 20rem;
 border-radius:2.7rem;height:2.7rem;
background: #cecbcb;

}
.youremaigmailcom{padding-left: 1.2rem;
   
font-size: 15px;
font-weight: 400;
color: #666;
line-height: 43px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}


.subscribe-btn {
  background-color: #ff9900;width: 40%;
  border: none;text-align: center;
  border-radius:2.7rem;height:2.7rem;padding-top: .7rem;
  color: #fff;margin-left: 1.7rem;
  cursor: pointer;
}

.deal-section p {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}
.social-icons{
    margin-top: 1rem;
}
.deal-section .social-icons i {
  margin-right: .7rem;cursor: pointer;
  font-size: 1.5rem;
  color: #333;
}


.links-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.links-section ul li {
  margin-bottom: 0.5rem;
}

.links-section ul li a:hover {
  color: #ff9900;
}


.footer-bottom {
  margin-top: 2rem;display: flex;
 flex-direction: row;background: #03081F;
width: 100%; height: 4.5rem;
  padding-top: 1rem;justify-content:space-between;
  border-top: 1px solid #ccc;
  text-align: center;
}

.footer-bottom a {cursor: pointer;
     color: #ffffff;font-size: 1rem;margin-right: 1rem;padding-right: 2rem;text-decoration: none;
}
.footer-bottom p {
  font-size: 0.9rem;
  color: #ffffff;margin-left: 4rem;margin-top: .6rem;
}

.footer-bottom  a:hover {
  color: #ff9900;


}




@media (max-width: 480px) {


.footer-container {
display: flex;flex-direction: column;
height: auto;
  gap: 1rem;
}


.footer-main{width: 100%;height: auto;padding: 1.5rem 0 0 0;
 background: #dfdcdc96;
  color: #333;
}

.deal-section{height: auto;width: 100%; padding: 1rem; text-align: center;}

.deal-section h3 {text-align: start;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.deal-email{margin: 0 1rem 0 1rem;     display: flex;
width: auto;
    border-radius: 2.7rem;
    height: 2.7rem;
    background: #cecbcb;}

    .subscribe-btn{margin-left: 13%;}

.links-section{height: auto;width: 100%; padding: 1rem;}


.footer-logo-section{width: 100%; padding: 1rem; text-align: center;margin-top: 1rem;}
.footerimg{margin-bottom: 1rem;  padding: 0;height: 4rem;
        width: 13rem; }

.app-links{
height: 3rem;
padding: 0;
}

.app-links img{
width: 100%;height: 100%;object-fit: cover;border-radius: .5rem;
}

.footer-logo-section p {
margin-top: 1rem;
    font-size: 0.9rem;
    padding:0;
    color: #666;}


.youremaigmailcom{padding-left: 1.2rem;
   
font-size: 15px;
font-weight: 400;
color: #666;
line-height: 43px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}


.footer-bottom-links{display: none;}

.All-Rights-Reserved{text-align: center;}


}