.main-container{display: flex;flex-direction: column;overflow: hidden;overflow: hidden;}
.upper-container{ width: 100%;height: 650px;display: flex;flex-direction: row;}


.left-section{ height: 600px;width: 48%;margin:  1rem 1rem 1rem 1rem;
     border-radius: 2rem;
    background-color: #ffffff;
    padding: 40px;right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.right-section {width:48%;height: 600px;
      margin:  1rem 1rem 1rem 1rem;border-radius: 2rem;}
.right-section img {width: 100%;height: 100%;object-fit: cover;border-radius: 2rem;}

.input-group {
   
    margin-bottom: 20px;  width: 100%;
    border-radius: 5px;display: flex;flex-direction: column;
}

.loginform {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.input-group input {height: 40px;
    width: 100%;padding-left: 10px;border: 1px solid #ddd;   border-radius: 100px;
    right: 0;

    font-size: 16px;
}
.login-login-btn {
    width: 100%;
    padding: 10px;margin-top: 20px;
    background-color: #FC8A06;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

h1 {
  font-size: 2rem;
  color: #000;
}

.highlight {
  color: #ff9900;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

label {

    font-size: 15px;
    color:   #313957;margin-bottom: .7em;

}

.Today-is-a-new-day{
  margin: 0.5rem 0 1.5rem; 
    font-size: 17px;
    color:   #313957;

}
.order-img{
    height:45px;width:300px;padding-left: 6.5rem; }
.wave-img{
    height:30px;width:30px;
}

::placeholder{ font-size: 15px;

}
.login-register-btn {
color: #FC8A06;cursor: pointer;

}
.login-register-btn:hover {
    background-color: #0099A9;color: #ffffff;
}

.login-text {
    text-align: center;
    margin: 20px;
    font-size: 14px;
    color: #666666;
}




.login-text a:hover {
    text-decoration: underline;
}

.og{
 width: 100%; height: 350px; background: #D9D9D9;


}





@media (max-width: 480px) {


.right-section{display: none;}

.upper-container{ width: 100%;height: 650px;}

.left-section{width: 100%;  justify-content: center;}



.loginform {
    width: 100%;
    max-width: 400px;
    flex-direction: column;
}

.order-img{
    height: 47px;
        width: 180px;
        padding: 0;
               margin: 0 4rem 0 3rem;


}


.Today-is-a-new-day{
  margin:1rem 0 1rem 0;
        font-size: 13px;
        color: #313957;
    }



}
       



@media (max-width: 380px) {


.right-section{display: none;}

.upper-container{ width: 100%;height: 650px;}

.left-section{width: 100%;  justify-content: center;margin: 1rem 1rem 1rem 1rem;}



.loginform {
    width: 100%;
    max-width: 400px;
    flex-direction: column;
}

.order-img{
       height: 40px;
        width: 143px;
        padding: 0;
               margin: 0 4rem 0 3rem;
    }

h2 {
    margin-top: 1rem;
    font-size: 1rem;
}

.Today-is-a-new-day{
  margin:1rem 0 1rem 0;
        font-size: 11px;
        color: #313957;
    }


}






