
.Form-wrapper{
  position: fixed;z-index: 3;
   left: 0;right: 0;bottom: 0;top: 0;background-color: #2F2F2FBF;
   ;
  }
  

.edit-address-popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 1rem;z-index: 6;
  border-radius: 1rem 1rem 0 0;
  width: 34rem;

}

.popup-content h3 {
  margin-bottom: 20px;
}

.popup-content span{ display: flex;flex-direction: row;}
.popup-content label{ width: 25%; padding-top: 1.5rem;}
.addressinput{
  width: 75%;
  margin: 10px 0;
  padding: .5rem;
  border: 2px solid #0000001A;
  border-radius: 4px;
}

.popup-content button {
  margin: 10px 5px 0 0;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.manageaddress-My-Profile{cursor: pointer;
    margin-left: 6rem;margin-bottom: 2rem;
    font-weight: bold;
    margin-top: 2rem;}
.address-delete-btn{border: none;border-radius: .5rem; height: 3rem; background:rgba(102, 55, 0, 1) ; width: 5.5rem;color: white;text-align: center;}
.address-save-btn{border: none;border-radius: .5rem; height: 3rem;font-weight: bold; background:white ; width: 8.5rem;color: black;text-align: center;}

.address-Cancel-btn{border: none; height: 3rem; background:transparent ; width: 5.5rem;color: white;text-align: center;}

.popup-content button:hover {
  background-color: #0056b3;
}

.popup-content button:last-of-type {
  background-color: #dc3545;
}

.popup-content button:last-of-type:hover {
  background-color: #a71d2a;
}

.default-tag {
   position: absolute;
  top: 10px;
  right: 10px;
  background-color:rgba(255, 237, 216, 1); 
  color: #ff6f00;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 12px;
}
.update-profile-container{
    max-width: 90%;
    margin: 1rem auto;
    padding: 0 2rem 2rem 2rem;
    background: white;
    border-radius: 0.5rem;
    display: flex
     ;height: auto;
    flex-direction: column;
    gap: 1.5rem;
}

.updateprofile-addresss-container{flex-direction: row;
    display: flex;
    gap: 20px;justify-content: start;
    flex-wrap: wrap;}


.updateprofile-address-item{display: flex;border-radius: 1rem;position: relative;
   border: 1px solid rgba(0, 0, 0, 0.5);height: 12rem;width:13.5rem;padding: .5rem;flex-direction: column;}

   .Add-New-address{border-radius: 1rem;display: flex;flex-direction: column;
   border: 1px solid rgba(0, 0, 0, 0.5);height: 12rem;width:13rem;padding: .5rem;}


.Add-New-address  img{    margin: 2rem 4rem 0 4rem;}
.username-of-user {height: 10%;width: 100%;font-weight: bold;}

.address-item-details{height: 40%;margin-top: 1rem;font-size: .9rem;display: block;}

.address-item-phone{font-size: .9rem;height: 40%;margin-top: 1rem;}

.Add-New-address span{ margin: 2rem 0 0 3rem;}
.address-edit-button{height: 1rem;width: 1rem;margin-left: 1rem;margin-top: 1rem;}






.userinput:focus{ border: 1px solid #0000001A; border-radius: .5rem;}
.update-profile-container select:focus{ border: 1px solid #0000001A; border-radius: .5rem;}
.user-info-form-upperdiv img{height: 5rem;width :5rem}
.user-info-form-upperdiv button{ height: 2rem;width: 4rem;border-radius: .5rem; background: rgba(252, 138, 6, 1);color: white;border: none;}

.user-info-form-upperdiv{display: flex;flex-direction: row;justify-content: space-between;}
.user-info-form-upperdiv span{display: flex;flex-direction: row;}
.user-info-form-upperdiv  h3{padding-top: 2rem;padding-left: .5rem;}
.user-info-form-middlediv{display: flex;flex-direction: row;justify-content: space-between;}
.user-info-form-middlediv span{display: flex;flex-direction: column;width: 48%;}
.user-info-form-loverdiv{display: flex;flex-direction: row;justify-content: space-between;    border: 1px solid;
    border-style: hidden hidden solid hidden;padding-bottom: 2rem;}
.user-info-form-loverdiv span{display: flex;flex-direction: column;width: 48%;}

.userinput{height: 3rem;border: none;background: rgba(249, 249, 249, 1);padding: 1rem;}
.update-profile-container select{height: 3rem;border: none;background: rgba(249, 249, 249, 1);padding: 1rem;border: none;}
.updateprofile-nav{ height: 4rem;margin-left: 7rem;
                        width: 90%;display: flex;flex-direction: row;
                        justify-content: space-between;background: #ffffff; }

    .updateprofile-order-img{height:2.5rem;margin-top: .5rem;width: 11rem;}


.update-profile-address-button{background:rgba(252, 138, 6, 1) ;width: 34rem;border-radius:0 0 1rem 1rem ;display: flex ; flex-direction: row;justify-content: space-between; padding: 1rem; }
    .updateprofile-nav-links{width: 70%;display: flex;flex-direction: row;font-weight: bold; font-size: .9rem;}

    .updateprofile-nav-links-home{
       width: 17%;  height: 100%;text-align: center;padding-top: 1.4rem;}

    .updateprofile-nav-links-BrowseMenu { width: 17%;  height: 100%;text-align: center;padding-top: 1.4rem;}

    .updateprofile-nav-links-SpecialOffers{ width: 17%; height: 100%;text-align: center;padding-top: 1.4rem;}

    .updateprofile-nav-links-Restaurants { width: 17%; height: 100%;text-align: center;padding-top: 1.4rem;}

    .updateprofile-nav-links-TrackOrder{ width: 17%; height: 100%;text-align: center;padding-top: 1.4rem;}

    .updateprofile-nav-links-login-signup{
      width: 20%; height: 65%;border-radius: 5rem;
      display: flex; background: #03081F;
      color: white;margin-top: .7rem;}

    .updateprofile-nav-links-login-signup img{ height:1.5rem ;width:1.5rem ;margin-left: 1rem;margin-top: .5rem;}

    .updateprofile-nav-links-login-signup p{margin-top: .7rem;margin-left: .5rem; width: 60%;margin-left: .5rem;overflow: hidden;height: 1rem;}



    .manageaddress-edit{border: none;background: none; color: rgba(252, 138, 6, 1);   border-right:  2px solid #ddd7d7;padding:.2rem .6rem .2rem 1rem}
        .manageaddress-remove{border: none;background: none; color: rgba(252, 138, 6, 1); padding:.2rem .6rem .2rem 1rem}